[client]
port=3309

[mysqld]
port=3309
default_authentication_plugin=mysql_native_password
key_buffer_size=16M
max_allowed_packet=100M
innodb_buffer_pool_size=100M
innodb_log_file_size=100M
innodb_use_native_aio=0

[mysqldump]
quick
